{% extends "base.html" %}

{% block content %}

<div class="content-grid">
  <div class="content-center content-item">
    <h1 id="US1988" class="text-color">
      Unstandard<br/>Since 1988
    </h1>
    <!-- <br/> -->
    <div class="profile-buttons">
      <a onmouseenter="add_pulse(this)" onclick="copy_to_clipboard('jgarza9788@gmail.com')" class="btn-profile btn-floating tooltipped cyan accent-3 z-depth-4 waves-effect waves-black" data-position="bottom" data-tooltip="Email" href="mailto: jgarza9788@gmail.com">    <i class="mdi mdi mdi-email"></i></a>
      <a onmouseenter="add_pulse(this)" onclick="copy_to_clipboard('1 818 251 0647')" class="btn-profile btn-floating tooltipped cyan accent-3 z-depth-4 waves-effect waves-black" data-position="bottom" data-tooltip="Phone" href="tel:+: 18182510647">              <i class="mdi mdi-phone" ></i></a>
      <a onmouseenter="add_pulse(this)" class="btn-profile btn-floating tooltipped cyan accent-3 z-depth-4 waves-effect waves-black" data-position="bottom" data-tooltip="GitHub" href="https://github.com/jgarza9788" target=“_blank”>   <i class="mdi mdi-github"></i></a>
      <a onmouseenter="add_pulse(this)" class="btn-profile btn-floating tooltipped cyan accent-3 z-depth-4 waves-effect waves-black" data-position="bottom" data-tooltip="linkedin" href="https://www.linkedin.com/in/justin-garza-9a684a44/" target=“_blank”>   <i class="mdi mdi-linkedin"></i></a>
      <!-- <a onmouseenter="add_pulse(this)" class="btn-profile btn-floating tooltipped cyan accent-3 z-depth-4 waves-effect waves-black" data-position="bottom" data-tooltip="Twitter" href="https://twitter.com/JGarza9788" target=“_blank”>  <i class="mdi mdi-twitter"></i></a> -->
      
      
    </div>
  </div>
  </div>

{% endblock %}